<div class="container">
    <div class="row">
        <div class="col-md-5 mb-5">
            <div class="card shadow-effect" routerLink="categories">
                <div class="card-body text-center bg-secondary-theme">
                    <h2 class="text-theme-primary">Category</h2>
                    <p>Manage Categories</p>
                </div>
            </div>
            <div class="card shadow-effect" routerLink="posts">
                <div class="card-body text-center bg-secondary-theme">
                    <h2 class="text-theme-primary">Posts</h2>
                    <p>Manage Posts</p>
                </div>
            </div>
        </div>
    </div>
</div>